doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="en")
	// <![endif]
	head
		title CloudBudget
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
		link(href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet")
	body
		// Content Start

		//- // Preloader
		//- .preloader#preloader
		//- 	.loader

		//- Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					img(src="assets/header__cloud-icon.png", alt="pic").header__logo-icon
					h3.header__logo-text CloudBudget
				nav.header__menu-container
					ul.header__menu
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#overview") Overview
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#features") Features
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#technology") Technology
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#contact") Contact
						li.header__menu-list-item
							a.prevdef.header__menu-link.header__menu-sign-up(href="#") Sign Up
				.header__select-block
					.header__lang-pic-container
						.header__lang-pic.header__lang-pic1.active
						.header__lang-pic.header__lang-pic2
					.header__select-container
						select.header__lang-select-real(name="lang")
							option.header__select-option-real(value="en") En
							option.header__select-option-real(value="ru") Ru
						output.header__lang-select-fake En
						.header__fake-options-container
							output.header__lang-select-option-fake En
							output.header__lang-select-option-fake Ru
				button.header__login-button Login

		//- Main Section
		section.main#home
			.main__overlay
			.main__text-container
				h1.main__headline CloudBudget
				p.main__paragraph Cloud budget management for everyone. Only €69.95 a Month After a 7 Day Trial of Up to €4.99
				button.main__sign-up-button Sign Up

		//- Video Section
		section.video-section#overview
			.video-section__wrapper.wrapper
				.video-section__block.video-section__block1
					h3.video-section__headline Easy to Use Cloud Budget Management Software
					p.video-section__paragraph Our software is made so you can access and manage your budget and expenses online at any time from any device. It provides detailed income and expense reports with graphs so you can easilly see your spending patterns and budget at a glance. Read below to find out more.
					a.prevdef.video-section__learn-more(href="#") Learn More
				.video-section__block.video-section__block2
					.video-section__video-container
						.video-section__video-overlay
						iframe.video-section__video(width="901" height="380" src="https://www.youtube.com/embed/Fd3dxjLEfq8?autoplay=0&amp;enablejsapi=1&amp;playerapiid=ytplayer;showinfo=0&controls=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					button.video-section__play-button

		//- Features
		section.features#features
			h3.features__headline Features
			.features__wrapper.wrapper
				.features__block.features__block1
					img.features__block-img(src="assets/features__pic1.jpg", alt="pic")
					.features__block-text-container
						h3.features__block-headline Supports All Currencies and Cards
						p.features__block-paragraph We support all popular currencies and is fully customizable to add
						a.prevdef.features__read-more(href="#") Read More
				.features__block.features__block2
					img.features__block-img(src="assets/features__pic2.jpg", alt="pic")
					.features__block-text-container
						h3.features__block-headline Manage your expenses on the go
						p.features__block-paragraph You can access your account from anywhere in the world on any device
						a.prevdef.features__read-more(href="#") Read More
				.features__block.features__block3
					img.features__block-img(src="assets/features__pic3.jpg", alt="pic")
					.features__block-text-container
						h3.features__block-headline Cloud Budget Management Software
						p.features__block-paragraph Our software is made so you can access and manage your budget
						a.prevdef.features__read-more(href="#") Read More

		//- Technology
		section.technology#technology
			h3.technology__headline Technology
			.technology__wrapper.wrapper
				.technology__block.technology__block1
					p.technology__block-icon.technology__block-icon1 01
					h3.technology__block-headline Cloud Storage
					p.technology__block-paragraph Access your account from anywhere in the world on any device
				.technology__block.technology__block2
					p.technology__block-icon.technology__block-icon2 02
					h3.technology__block-headline Secure
					p.technology__block-paragraph All your information is stored on secure cloud servers
				.technology__block.technology__block3
					p.technology__block-icon.technology__block-icon3 03
					h3.technology__block-headline PDF Download
					p.technology__block-paragraph Download any of your reports in PDF format
				.technology__block.technology__block4
					p.technology__block-icon.technology__block-icon4 04
					h3.technology__block-headline CSV Download
					p.technology__block-paragraph All your information is stored on secure cloud servers

		//- Saving money
		section.saving-money
			.saving-money__wrapper.wrapper
				.saving-money__block.saving-money__block1
					h3.saving-money__headline Stay focused on saving money
					p.saving-money__paragraph It is important to stay focused on saving money in any way you can. We help you monitor your spending habits so you can easily spot and cut any unnecessary expenses. Simply join today to get started!
					.saving-money__platforms-container
						a.prevdef.saving-money__platform-container(href="#")
							img.saving-money__platform.saving-money__platform1(src="assets/saving-money__icon1.png", alt="pic")
						a.prevdef.saving-money__platform-container(href="#")
							img.saving-money__platform.saving-money__platform2(src="assets/saving-money__icon2.png", alt="pic")
						a.prevdef.saving-money__platform-container(href="#")
							img.saving-money__platform.saving-money__platform3(src="assets/saving-money__icon3.png", alt="pic")
				.saving-money__block.saving-money__block2
					.saving-money__carousel
						img.saving-money__slide.saving-money__slide1.left(src="assets/saving-money__pic1.jpg", alt="pic")
						img.saving-money__slide.saving-money__slide2.center(src="assets/saving-money__pic2.jpg", alt="pic")
						img.saving-money__slide.saving-money__slide3.right(src="assets/saving-money__pic3.jpg", alt="pic")

		//- Contact
		section.contact#contact
			.contact__wrapper.wrapper
				.contact__block.contact__block1
					h3.contact__block-headline Contact
					p.contact__block-paragraph Questions or concerns? Just fill out the form below and our support team will get back to you within 24 hours
				.contact__block.contact__block2
					form.contact__form(action="#" method="POST")
						.contact__form-row.contact__form-row1
							input.contact__input.contact__first-name-input(type="text" placeholder="First Name")
							input.contact__input.contact__last-name-input(type="text" placeholder="Last Name")
						.contact__form-row.contact__form-row2
							input.contact__input.contact__phone-number-input(type="text" placeholder="Phone Number")
							select.contact__select-real
								option.contact__select-option-real(value="service1") Service 1
								option.contact__select-option-real(value="service2") Service 2
								option.contact__select-option-real(value="service3") Service 3
							.contact__select-fake-container
								output.contact__select-fake Select Service
								.contact__select-options-fake-container
									output.contact__select-option-fake Service 1
									output.contact__select-option-fake Service 2
									output.contact__select-option-fake Service 3
							button.prevdef.contact__submit-button Submit Now

		//- Footer
		footer.footer
			.footer__wrapper.wrapper
				.footer__block.footer__block1
					h3.footer__block-headline Address
					p.footer__block-paragraph.footer__address Pipang Ltd, Griva Digeni, 
						|
						br
						| 81-83 Jacovides Tower, 1st Floor 
						br
						| 1090 Picosia USA
				.footer__block.footer__block2
					h3.footer__block-headline Services
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#overview") Overview
						li.footer__list-item
							a.prevdef.footer__list-link(href="#features") Features
						li.footer__list-item
							a.prevdef.footer__list-link(href="#technology") Technology
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Terms & Conditions
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Privacy
				.footer__block.footer__block3
					h3.footer__block-headline Get in Touch
					a.prevdef.footer__email-link(href="#") info@cloudbudget.com
					a.prevdef.footer__tel-link(href="#") +1 844-721-7120
					.footer__socials-container
						a.prevdef.footer__social-link.footer__facebook(href="#")
							svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-2x")
								path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
						a.prevdef.footer__social-link.footer__linkedin(href="#")
							svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-w-14 fa-3x")
								path(fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
						a.prevdef.footer__social-link.footer__twitter(href="#")
							svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
								path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
				.footer__block.footer__block4
					h3.footer__block-headline We Support
					a.prevdef.footer__cards-container(href="#")
						img.footer__cards(src="assets/footer__credit-cards.png", alt="pic")

		//- Copy
		.copy
			.copy__wrapper.wrapper
				a.prevdef.copy__link(href="#") Copyright 2018 CloudBudget

		//- To Top Link
		a.prevdef.to-top-link(href="#home")

		//- Modals
		.modal__overlay
		.modal__error-container.modal__window
			p.modal__paragraph Fill all the inputs, please!
		.modal__success-container.modal__window
			p.modal__paragraph We will contact you soon!
		.modal__sign-up-n-login
			form.modal__form(action="#" method="POST")
				input.modal__email-input.modal__input(type="text" placeholder="Email")
				input.modal__password-input.modal__input(type="text" placeholder="Password")
				button.prevdef.modal__sign-up-button Sign Up
				button.prevdef.modal__login-button Login
			button.modal__close-button

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]